<div class="search">
    <form id="search" onsubmit="return false">
        <input value="{{ search }}" name="search" type="text" placeholder="{{ text_search }}">
        <input name="submit-search" type="submit" value="">
    </form>
</div>